//- Base layout template for all pages
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Book Library | #{title}
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/add-book") Add Book
        li
          a(href="/authors") Authors
    .container
      h1= title
      block content
    footer
      p &copy; Book Library. All rights reserved.
      script.
        const currentYear = new Date().getFullYear();
        document.querySelector('footer p').innerHTML = `&copy; ${currentYear} Book Library. All rights reserved.`;
